/* Hide scrollbar but keep scrolling */
html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
}

* {
  box-sizing: border-box;
}